*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f4f4;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#3e2723;
color:white;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.banner{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:url("https://images.unsplash.com/photo-1509042239860-f550ce710b93") center/cover;
color:white;
text-align:center;
}

.banner h2{
font-size:50px;
}

.banner button{
margin-top:20px;
padding:10px 20px;
border:none;
background:#6d4c41;
color:white;
cursor:pointer;
}

.sobre{
padding:60px;
text-align:center;
background:white;
}

.menu{
padding:60px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:200px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.card span{
display:block;
margin-top:10px;
font-weight:bold;
}

.contato{
padding:60px;
text-align:center;
background:white;
}

form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
}

input, textarea{
margin:10px 0;
padding:10px;
}

button{
background:#3e2723;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
background:#3e2723;
color:white;
}